

.smallImgs img {
    display: block;
    padding: 10px;
    cursor: pointer;
}

.smallImgs img:hover {
    display: block;
    padding: 10px;
    cursor: pointer;
    opacity: 50%;
}

.smallImgs {
    display: inline-block;
/* Image */


position: absolute;
left: 50px;
right: 0px;
top: 100px;
bottom: 0px;
}

.bigImg {
/* Image */


position: absolute;
left: 200px;
right: 0px;
top: 0px;
bottom: 0px;

}

.prodHeader {
/* Apollo */


position: absolute;
width: 292px;
height: 27px;
left: 929px;
top: 80px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 27px;
/* identical to box height, or 90% */

display: flex;
align-items: center;

color: #1D1F22;
}

.attrHeader {
/* COLOR: */


position: absolute;
left: 929px;
top: 200px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;

color: #1D1F22;
}

.attrHeader h2{
font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */

color: #1D1F22;
display: block;
}

.priceHeader {
/* PRICE: */


position: absolute;
width: 50px;
height: 18px;
left: 929px;
top: 386px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */

display: flex;
align-items: center;
text-align: center;

color: #1D1F22;
}

.mainPriceHeader {
/* $50.00 */


position: absolute;
width: 86px;
height: 46px;
left: 929px;
top: 414px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 18px;
/* or 75% */

display: flex;
align-items: center;

color: #1D1F22;
}

.addBtn {
/* _Button / Elements / Common */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 16px 32px;

position: absolute;
width: 292px;
height: 52px;
left: 929px;
top: 480px;

background: #5ECE7B;
border: 0px;
/* --button-font */

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 120%;
/* identical to box height, or 19px */

align-items: center;
text-align: center;
text-transform: uppercase;

/* --c-white */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.prodDiscrip {
/* Description */


position: absolute;
width: 292px;
height: 103px;
left: calc(50% - 292px/2 + 405px);
bottom: -30px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 159.96%;
/* or 26px */


/* --c-text */

color: #1D1F22;
}